body{
  margin:0 auto;
}

.input-text{
  margin:10px 0 10px;
  padding:0px 10px;
  font-size: 15px;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(7, 7, 7, 0.1);
}

.copy-button{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin:0px;
}

.copy-color{
  width: 100%;
  margin-top: 20px;
  align-items: center;
  background-color: rgba(7, 7, 7, 0.1);
  border: 1px solid rgba(7, 7, 7, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.2;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.copy-color:hover,
.copy-color:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.copy-color:hover {
  transform: translateY(-1px);
}

.copy-color:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.made-by-text{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
}